.form {
  width: 300px;
  padding: 32px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.form__input,
.form__button {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.form__title {
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: normal;
}

.form__button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form__button:focus,
.form__button:hover {
  background-color: rgba(0, 113,240, 0.7);
}

.google {
  background-color: #fff;
  color: rgba(0, 113,240, 0.7);
}