.product__list {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 30px;
}


.pagination {
  margin-left: 15px;
  display: inline;
  padding: 8px 30px;
  border: none;
  background-color: rgb(234, 252, 255);
  transition: 0.2s;
  cursor: pointer;
}

.pagination:hover {
  background-color: rgb(190, 242, 251);
}